In [1]:
import pandas as pd
import random

### ny_df_cleaned_final ###

In [3]:
ny_df_cleaned_final = pd.read_csv("/Users/priyanka/Documents/IronHack/Lab Practics & submission/Project 2/ny_df_cleaned_final.csv")

In [4]:
ny_df_cleaned_final

      neighbourhood_group        room_type  price  availability_365
0                Brooklyn     Private room    149               365
1               Manhattan  Entire home_apt    225               355
2               Manhattan     Private room    150               365
3                Brooklyn  Entire home_apt     89               194
4               Manhattan  Entire home_apt     80                 0
...                   ...              ...    ...               ...
48890            Brooklyn     Private room     70                 9
48891            Brooklyn     Private room     40                36
48892           Manhattan  Entire home_apt    115                27
48893           Manhattan      Shared room     55                 2
48894           Manhattan     Private room     90                23

[48895 rows x 4 columns]

### events.csv file ###

In [5]:
# Predefined list of possible venues in New York
venues = ny_df_cleaned_final["neighbourhood_group"].unique()
venues

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [6]:
events = []
for i in range(1, 6):
    event = {
        "event_id": i,
        "event_name": f"Conference  {i}",  # random event-style name
        "event_duration": random.randint(1, 90), # random duration - days
        "event_location": f"{(venues[i-1])}, New York"
    }
    events.append(event)

In [33]:
events

[{'event_id': 1,
  'event_name': 'Conference  1',
  'event_duration': 14,
  'event_location': 'Brooklyn, New York'},
 {'event_id': 2,
  'event_name': 'Conference  2',
  'event_duration': 74,
  'event_location': 'Manhattan, New York'},
 {'event_id': 3,
  'event_name': 'Conference  3',
  'event_duration': 36,
  'event_location': 'Queens, New York'},
 {'event_id': 4,
  'event_name': 'Conference  4',
  'event_duration': 45,
  'event_location': 'Staten Island, New York'},
 {'event_id': 5,
  'event_name': 'Conference  5',
  'event_duration': 68,
  'event_location': 'Bronx, New York'}]

In [7]:
# Create DataFrame
events_df = pd.DataFrame(events)

In [8]:
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   event_id        5 non-null      int64
 1   event_name      5 non-null      object
 2   event_duration  5 non-null      int64
 3   event_location  5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [9]:
# Show table
print(events_df)

   event_id     event_name  event_duration           event_location
0         1  Conference  1              72       Brooklyn, New York
1         2  Conference  2              22      Manhattan, New York
2         3  Conference  3              11         Queens, New York
3         4  Conference  4              79  Staten Island, New York
4         5  Conference  5              23          Bronx, New York

In [11]:
# Save events to CSV
events_df.to_csv(r"/Users/priyanka/Documents/IronHack/Lab Practics & submission/Project 2/events.csv", index=False)

In [26]:
### students.csv file ###

In [12]:
# Students data
students = [{'student_id': 1,
  'student_name': 'Mary Smith'},
 {'student_id': 2,
  'student_name': 'John Holland'},
 {'student_id': 3,
  'student_name': 'Dillon Robbins'},
 {'student_id': 4,
  'student_name': 'Michael Beck'},
 {'student_id': 5,
  'student_name': 'Rachel Adams'}]

In [28]:
students

[{'student_id': 1, 'student_name': 'Mary Smith'},
 {'student_id': 2, 'student_name': 'John Holland'},
 {'student_id': 3, 'student_name': 'Dillon Robbins'},
 {'student_id': 4, 'student_name': 'Michael Beck'},
 {'student_id': 5, 'student_name': 'Rachel Adams'}]

In [13]:
students_df = pd.DataFrame(students)

In [14]:
students_df.to_csv(r"/Users/priyanka/Documents/IronHack/Lab Practics & submission/Project 2/students.csv", index=False)

In [16]:
grouped = ny_df_cleaned_final.groupby(["neighbourhood_group", "room_type"]).agg(
    avg_price=("price", "mean"),
    avg_availability=("availability_365", "mean"),
    count=("room_type", "count")
).reset_index()

# Define value score (lower is better)
grouped["value_score"] = grouped["avg_price"] / (grouped["avg_availability"] + 1)

# For each neighbourhood, pick the best room (lowest score)
best_value_rooms = grouped.loc[grouped.groupby("neighbourhood_group")["value_score"].idxmin()]

print(best_value_rooms)

   neighbourhood_group     room_type  avg_price  avg_availability  count  \
2                Bronx   Shared room  59.800000        154.216667     60
5             Brooklyn   Shared room  50.527845        178.007264    413
8            Manhattan   Shared room  88.977083        138.572917    480
11              Queens   Shared room  69.020202        192.186869    198
13       Staten Island  Private room  62.292553        226.361702    188

    value_score
2      0.385268
5      0.282267
8      0.637495
11     0.357272
13     0.273980

In [19]:
budget_ny_df_cleaned_final = ny_df_cleaned_final[(ny_df_cleaned_final["price"] <= 100) & (ny_df_cleaned_final["room_type"].isin(["Shared room", "Private room"]))]

# Step 2: Group by neighbourhood and room type
budget_analysis = budget_ny_df_cleaned_final.groupby(["neighbourhood_group", "room_type"]).agg(
    avg_price=("price", "mean"),
    avg_availability=("availability_365", "mean"),
    count=("room_type", "count")
).reset_index()

# Step 3: Sort by price (ascending) and availability (descending)
budget_analysis = budget_analysis.sort_values(by=["avg_price", "avg_availability"], ascending=[True, False])

print(budget_analysis.head(10))

  neighbourhood_group     room_type  avg_price  avg_availability  count
3            Brooklyn   Shared room  39.580729        180.151042    384
7              Queens   Shared room  40.291209        198.236264    182
1               Bronx   Shared room  40.600000        149.818182     55
9       Staten Island   Shared room  45.875000         33.875000      8
8       Staten Island  Private room  54.647399        227.184971    173
0               Bronx  Private room  54.793781        170.101473    611
6              Queens  Private room  59.207486        146.169409   3099
5           Manhattan   Shared room  61.853598        146.210918    403
2            Brooklyn  Private room  62.065114         95.960269   9061
4           Manhattan  Private room  73.693194         91.083860   5378